<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Об авторе</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
    <div th:replace="~{fragments/navigation :: navigation}"></div>
    
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2>Об авторе</h2>
            </div>
            <div class="card-body">
                <p>Добро пожаловать на страницу "Об авторе"!</p>
                <p>Я разработчик этого веб-приложения, Оганнисян Рита, студент второго курса факультета информационных технологий и анализа больших данных. Создавая этот сайт, я поставила перед собой цель сделать поиск работы и подбор вакансий проще и удобнее для всех пользователей.</p>
                <p> <p>
                <p>Я верю, что цифровые технологии могут значительно улучшить процессы взаимодействия между соискателями и работодателями. Этот проект — мой вклад в развитие эффективных и доступных инструментов на рынке труда.</p>
                <p> <p>
                <p>Благодарю вас за интерес к моему сайту! Если у вас есть предложения или вопросы, буду рада обратной связи.</p>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> 